*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    /* background-color: rgb(58, 129, 0); */
    text-align: center;
}
h1{
    font-size: 60px;
    font-family: cursive;
    
}
#score{
    background-color: thistle;
    border-radius: 30px;
    padding: 0rem 0.5rem;
}
#game{
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
    width: 80vw;
    margin: 1rem auto; 
}
.box{
    margin: 0rem 1px;
    height: 265px;
    overflow: hidden;
}
.hole{
    margin: 0rem 7px;
    margin-top: -88px;
    width: 250px;
    position: sticky;
}
.hole img{
    width: 250px;
}
.rat{
    position: relative;
    top: 240px;
}
.animate{
    animation: up 1s linear  infinite  ;
}
@keyframes up {
    0%{
        top: 240px;
    }
    50%{
        top: 10px;
    }
    100%{
        top: 240px;
    }
}


#youwin{
   display: none;
    color: black;
}

.btn{
    padding: 0.5rem 1rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
}

.cursor{
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('hammer.png');
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform .1s;
    pointer-events: none;
}
.cursor.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    /* background-color: rgb(58, 129, 0); */
    text-align: center;
}
h1{
    font-size: 60px;
    font-family: cursive;
    
}
#score{
    background-color: thistle;
    border-radius: 30px;
    padding: 0rem 0.5rem;
}
#game{
    height: 40vh;
    width: 80vw;
    margin: 1rem auto; 
}
.box{
    margin: 0rem 1px;
    height: 265px;
    overflow: hidden;
}
.hole{
    margin: 0rem 7px;
    margin-top: -88px;
    width: 250px;
    position: sticky;
}
.hole img{
    width: 250px;
}
.rat{
    position: relative;
    top: 240px;
}
.animate{
    animation: up 1s linear  infinite  ;
}
@keyframes up {
    0%{
        top: 240px;
    }
    50%{
        top: 10px;
    }
    100%{
        top: 240px;
    }
}


#youwin{
   display: none;
    color: black;
}

.btn{
    padding: 0.5rem 1rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
}

.cursor{
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('hammer.png');
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform .1s;
    pointer-events: none;
}
.cursor.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}

